<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${common.pathPackage}.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="$common.pathPackageModel.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="BIGINT" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="BIGINT" property="updateUser" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <select id="selectByExample" parameterType="$common.pathPackageModel.UserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ts_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ts_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ts_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="$common.pathPackageModel.UserExample">
    delete from ts_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="$common.pathPackageModel.User">
    insert into ts_user (id, username, password, 
      salt, nickname, mobile, 
      status, create_time, create_user, 
      update_time, update_user)
    values (#{id,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{salt,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="$common.pathPackageModel.User">
    insert into ts_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="salt != null">
        salt,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="$common.pathPackageModel.UserExample" resultType="java.lang.Long">
    select count(*) from ts_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ts_user
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.username != null">
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null">
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.salt != null">
        salt = #{record.salt,jdbcType=VARCHAR},
      </if>
      <if test="record.nickname != null">
        nickname = #{record.nickname,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null">
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ts_user
    set id = #{record.id,jdbcType=BIGINT},
      username = #{record.username,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      salt = #{record.salt,jdbcType=VARCHAR},
      nickname = #{record.nickname,jdbcType=VARCHAR},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=TINYINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user = #{record.createUser,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="$common.pathPackageModel.User">
    update ts_user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        salt = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="$common.pathPackageModel.User">
    update ts_user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <sql id="Base_Column_List">
    m.id, m.username, m.password, m.salt, m.nickname, m.mobile, m.status, m.create_time, 
	m.create_user, m.update_time, m.update_user
  </sql>
  <insert id="inserts" parameterType="list">
    insert into ts_user (id,username,password,salt,nickname,mobile,status,create_time,create_user,update_time,update_user)  values <foreach collection="list" item="item" index="index" separator=",">(#{item.id,jdbcType=BIGINT},#{item.username,jdbcType=VARCHAR},#{item.password,jdbcType=VARCHAR},#{item.salt,jdbcType=VARCHAR},#{item.nickname,jdbcType=VARCHAR},#{item.mobile,jdbcType=VARCHAR},#{item.status,jdbcType=TINYINT},<choose><when test="item.createTime!= null">create_time = #{item.createTime,jdbcType=TIMESTAMP},</when><otherwise>CURRENT_TIMESTAMP,</otherwise></choose>#{item.createUser,jdbcType=BIGINT},#{item.updateTime,jdbcType=TIMESTAMP},#{item.updateUser,jdbcType=BIGINT})</foreach>
  </insert>
  <delete id="deleteByPrimaryKeys" parameterType="list">
    delete from  ts_user where id in <foreach open="(" close=")" collection="list" item="id" separator=",">#{id,jdbcType=BIGINT}</foreach>
  </delete>
  <delete id="deleteAll">
    truncate table  ts_user 
  </delete>
  <select id="selectEntitys" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from ts_user<where><if test = "id != null "> and id = #{id,jdbcType=BIGINT} </if><if test = "username != null "> and username = #{username,jdbcType=VARCHAR} </if><if test = "password != null "> and password = #{password,jdbcType=VARCHAR} </if><if test = "salt != null "> and salt = #{salt,jdbcType=VARCHAR} </if><if test = "nickname != null "> and nickname = #{nickname,jdbcType=VARCHAR} </if><if test = "mobile != null "> and mobile = #{mobile,jdbcType=VARCHAR} </if><if test = "status != null "> and status = #{status,jdbcType=TINYINT} </if><if test = "createTime != null "> and create_time = #{createTime,jdbcType=TIMESTAMP} </if><if test = "createUser != null "> and create_user = #{createUser,jdbcType=BIGINT} </if><if test = "updateTime != null "> and update_time = #{updateTime,jdbcType=TIMESTAMP} </if><if test = "updateUser != null "> and update_user = #{updateUser,jdbcType=BIGINT} </if></where>
  </select>
  <select id="selectLists" resultType="map">
    select <include refid="Base_Column_List" /> from ts_user<where><if test = "id != null "> and id = #{id,jdbcType=BIGINT} </if><if test = "username != null "> and username = #{username,jdbcType=VARCHAR} </if><if test = "password != null "> and password = #{password,jdbcType=VARCHAR} </if><if test = "salt != null "> and salt = #{salt,jdbcType=VARCHAR} </if><if test = "nickname != null "> and nickname = #{nickname,jdbcType=VARCHAR} </if><if test = "mobile != null "> and mobile = #{mobile,jdbcType=VARCHAR} </if><if test = "status != null "> and status = #{status,jdbcType=TINYINT} </if><if test = "createTime != null "> and create_time = #{createTime,jdbcType=TIMESTAMP} </if><if test = "createUser != null "> and create_user = #{createUser,jdbcType=BIGINT} </if><if test = "updateTime != null "> and update_time = #{updateTime,jdbcType=TIMESTAMP} </if><if test = "updateUser != null "> and update_user = #{updateUser,jdbcType=BIGINT} </if></where>
  </select>
  <select id="countByEntity" resultType="java.lang.Long">
    select count(*) from ts_user<where><if test = "id != null ">and id = #{id,jdbcType=BIGINT} </if><if test = "username != null ">and username = #{username,jdbcType=VARCHAR} </if><if test = "password != null ">and password = #{password,jdbcType=VARCHAR} </if><if test = "salt != null ">and salt = #{salt,jdbcType=VARCHAR} </if><if test = "nickname != null ">and nickname = #{nickname,jdbcType=VARCHAR} </if><if test = "mobile != null ">and mobile = #{mobile,jdbcType=VARCHAR} </if><if test = "status != null ">and status = #{status,jdbcType=TINYINT} </if><if test = "createTime != null ">and create_time = #{createTime,jdbcType=TIMESTAMP} </if><if test = "createUser != null ">and create_user = #{createUser,jdbcType=BIGINT} </if><if test = "updateTime != null ">and update_time = #{updateTime,jdbcType=TIMESTAMP} </if><if test = "updateUser != null ">and update_user = #{updateUser,jdbcType=BIGINT} </if></where>
  </select>
  <select id="selectMaxValue" resultType="java.lang.Long">
    select <choose><when test="'id' == _parameter.column">max(id)</when><when test="'status' == _parameter.column">max(status)</when><when test="'createUser' == _parameter.column">max(create_user)</when><when test="'updateUser' == _parameter.column">max(update_user)</when><otherwise>max(0)</otherwise>  </choose>  from ts_user
  </select>
  <select id="selectMaxTime" resultType="java.util.Date">
    select <choose><when test="createTime == ${column}">max(createTime)</when><when test="updateTime == ${column}">max(updateTime)</when><otherwise>1970-01-01 00:00:00</otherwise>  </choose>  from ts_user
  </select>
</mapper>