package ${common.pathPackageController};

import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;

#if(${common.baseController})
import ${common.baseControllerPath};
import ${common.pathPackageEntity}.${tableinfo.className};
import ${common.pathPackageEntity}.${tableinfo.className};
import ${common.pathPackageEntityDTO}.${tableinfo.className}DTO;
import ${common.pathPackageQuery}.${tableinfo.className}Query;

#end
import io.swagger.annotations.Api;

/**
 * ${tableinfo.comments}API
 * 
 * @author ${common.author}
 * @date ${datetime}
 * @git ${common.git}
 */
@Api(tags = "${tableinfo.comments}API")
@RestController
@RequestMapping("${tableinfo.objectName}")
#if(${common.baseController})
public class ${tableinfo.className}Controller extends ${common.baseController}<${tableinfo.className}, ${tableinfo.className}DTO, ${tableinfo.className}Query> {
#else
public class ${tableinfo.className}Controller {
#end

}