package ${common.pathPackage}.entity.convert;

import org.mapstruct.Mapper;
import org.mapstruct.NullValuePropertyMappingStrategy;
import org.mapstruct.factory.Mappers;

import ${common.basePathPackage}.BaseConvert;
import ${common.pathPackage}.entity.dto.${tableinfo.className}DTO;
import ${common.pathPackage}.po.${tableinfo.className}PO;

/**
 * ${tableinfo.comments}
 * 
 * @author ${common.author}
 * @date ${datetime}
 * @git ${common.git}
 */
@Mapper(componentModel = "spring", nullValuePropertyMappingStrategy = NullValuePropertyMappingStrategy.IGNORE)
public interface ${tableinfo.className}Convert extends BaseConvert<${tableinfo.className}PO, ${tableinfo.className}DTO> {

	${tableinfo.className}Convert INSTANCE = Mappers.getMapper(${tableinfo.className}Convert.class);

}