package ${common.pathPackageCrl};

import java.util.stream.Stream;

import com.wy.common.CodeMsg;

import lombok.AccessLevel;
import lombok.AllArgsConstructor;
import lombok.Getter;

/**
 * ${tableinfo.comments}API
 * 
 * @author ${common.author}
 * @date ${datetime}
 * @git ${common.git}
 */
@Getter
@AllArgsConstructor(access = AccessLevel.PRIVATE)
public enum DomainEnum implements CodeMsg<String> {

	private String code;

	private String msg;

	public static DomainEnum getByCode(String code) {
		return Stream.of(DomainEnum.values()).filter(t -> t.code.equals(code)).findFirst().orElse(null);
	}
}