package ${common.pathPackageMapper};

import java.util.List;
import org.apache.ibatis.annotations.Mapper;
import org.apache.ibatis.annotations.Param;

import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
#if(${common.baseMapper})
import ${common.baseMapperPath};
#end
import ${common.pathPackageEntity}.${tableinfo.className};
import ${common.pathPackageQuery}.${tableinfo.className}Query;

/**
 * ${tableinfo.comments}
 * 
 * @author ${common.author}
 * @date ${datetime}
 * @git ${common.git}
 */
@Mapper
#if(${common.baseMapper})
public interface ${tableinfo.className}Mapper extends ${common.baseMapper}<${tableinfo.className}> {
#else
public interface ${tableinfo.className}Mapper {
#end

	List<${tableinfo.className}> list(Page<${tableinfo.className}> page, @Param("query") ${tableinfo.className}Query query);

	List<${tableinfo.className}> list(@Param("query") ${tableinfo.className}Query query);
}