package ${common.pathPackageEntityDTO};

import javax.validation.constraints.NotNull;

import com.wy.core.valid.ValidEdit;

import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
#if(${tableinfo.entityDTOHasBigDecimal})
import java.math.BigDecimal;
#end
#if(${tableinfo.entityDTOHasLocalDate})
import java.time.LocalDate;
#end
#if(${tableinfo.entityDTOHasLocalDateTime})
import java.time.LocalDateTime;
#end
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;

/**
 * ${tableinfo.comments}DTO
 * 
 * @author ${common.author}
 * @date ${datetime}
 * @git ${common.git}
 */
@ApiModel(description = "${tableinfo.comments}DTO")
@Data
@Builder
@NoArgsConstructor
@AllArgsConstructor
public class ${tableinfo.className}DTO {
#foreach ($column in $columns)
#if(!$column.excludeEntityDTO)

	/**
	 * $column.comments
	 */
	@ApiModelProperty("$column.comments")
#if($column.columnName == 'id')
	@NotNull(groups = ValidEdit.class)
#end
	private $column.attrType $column.attrNameLower;
#end
#end
}