package ${common.pathPackageEntity};

import com.baomidou.mybatisplus.annotation.TableName;
#if($common.baseEntity)
import ${common.baseEntityPath};
#end
#if(${tableinfo.entityHasSort})
import com.wy.db.annotation.Sort;
#end
#if(${tableinfo.entityHasUnique})
import com.wy.db.annotation.Unique;
#end
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
#if(${tableinfo.entityHasBigDecimal})
import java.math.BigDecimal;
#end
#if(${tableinfo.entityHasLocalDate})
import java.time.LocalDate;
#end
#if(${tableinfo.entityHasLocalDateTime})
import java.time.LocalDateTime;
#end
import lombok.AllArgsConstructor;
import lombok.Getter;
import lombok.NoArgsConstructor;
import lombok.Setter;
import lombok.ToString;
import lombok.experimental.SuperBuilder;

/**
 * ${tableinfo.comments} ${tableinfo.tableName}
 * 
 * @author ${common.author}
 * @date ${datetime}
 * @git ${common.git}
 */
@ApiModel(description = "${tableinfo.comments} ${tableinfo.tableName}")
@Getter
@Setter
@ToString
@SuperBuilder
@NoArgsConstructor
@AllArgsConstructor
@TableName("${tableinfo.tableName}")
#if($common.baseEntity)
public class ${tableinfo.className} extends ${common.baseEntity} {

	private static final long serialVersionUID = 1L;
#else
public class ${tableinfo.className} {
#end
#foreach ($column in $columns)
#if(!$column.excludeEntity)

	/**
	 * $column.comments
	 */
	@ApiModelProperty("$column.comments")
#if($column.sortColumn)
	@Sort
#end
#if($column.unique)
	@Unique
#end
	private $column.attrType $column.attrNameLower;
#end
#end

	/** 非数据库字段 */
}