package ${common.pathPackageQuery};

import ${common.baseQueryPath};

import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
#if(${tableinfo.queryHasBigDecimal})
import java.math.BigDecimal;
#end
#if(${tableinfo.queryHasLocalDate})
import java.time.LocalDate;
#end
#if(${tableinfo.queryHasLocalDateTime})
import java.time.LocalDateTime;
#end
import lombok.AllArgsConstructor;
import lombok.Getter;
import lombok.NoArgsConstructor;
import lombok.Setter;
import lombok.ToString;
import lombok.experimental.SuperBuilder;

/**
 * ${tableinfo.comments}查询参数
 * 
 * @author ${common.author}
 * @date ${datetime}
 * @git ${common.git}
 */
@ApiModel(description = "${tableinfo.comments}查询参数")
@Getter
@Setter
@ToString
@SuperBuilder
@NoArgsConstructor
@AllArgsConstructor
public class ${tableinfo.className}Query extends ${common.baseQuery} {

	private static final long serialVersionUID = 1L;
#foreach ($column in $columns)
#if(!$column.excludeQuery)

	/**
	 * $column.comments
	 */
	@ApiModelProperty("$column.comments")
	private $column.attrType $column.attrNameLower;
#end
#end
}