package ${common.pathPackageServiceImpl};

import org.springframework.stereotype.Service;

#if(${common.baseServiceImpl})
import ${common.baseServiceImplPath};
import ${common.pathPackageConvert}.${tableinfo.className}Convert;
import ${common.pathPackageEntity}.${tableinfo.className};
import ${common.pathPackageEntityDTO}.${tableinfo.className}DTO;
import ${common.pathPackageMapper}.${tableinfo.className}Mapper;
import ${common.pathPackageQuery}.${tableinfo.className}Query;
#end
import ${common.pathPackageService}.${tableinfo.className}Service;

/**
 * ${tableinfo.comments}
 * 
 * @author ${common.author}
 * @date ${datetime}
 * @git ${common.git}
 */
@Service("${tableinfo.objectName}Service")
#if($common.baseServiceImpl)
public class ${tableinfo.className}ServiceImpl extends ${common.baseServiceImpl}<${tableinfo.className}, ${tableinfo.className}DTO, ${tableinfo.className}Query, ${tableinfo.className}Convert, ${tableinfo.className}Mapper> implements ${tableinfo.className}Service {
#else
public class ${tableinfo.className}ServiceImpl implements ${tableinfo.className}Service {
#end

}