package ${common.pathPackageService};

import ${common.pathPackageBase}.BaseService;
import ${common.pathPackageEntity}.${tableinfo.className};

/**
 * ${tableinfo.comments}
 * 
 * @author ${common.author}
 * @date ${datetime}
 * @git ${common.git}
 */
public interface ${tableinfo.className}Service extends ${common.baseService}<${tableinfo.className}> {

}