package ${common.pathPackageServiceImpl};

import org.springframework.stereotype.Service;

import ${common.pathBasePackage}.AbstractService;
import ${common.pathPackageEntity}.${tableinfo.className};
import ${common.pathPackageService}.${tableinfo.className}Service;

/**
 * ${tableinfo.comments}
 * 
 * @author ${common.author}
 * @date ${datetime}
 * @git ${common.git}
 */
@Service("${tableinfo.objectName}Service")
public class ${tableinfo.className}ServiceImpl extends AbstractService<${tableinfo.className}, Long> implements ${tableinfo.className}Service {

}