package ${common.pathPackageService};

#if($common.baseService)
import ${common.baseServicePath};
import ${common.pathPackageEntity}.${tableinfo.className};
import ${common.pathPackageEntityDTO}.${tableinfo.className}DTO;
import ${common.pathPackageQuery}.${tableinfo.className}Query;
#end

/**
 * ${tableinfo.comments}业务层
 * 
 * @author ${common.author}
 * @date ${datetime}
 * @git ${common.git}
 */
#if($common.baseService)
public interface ${tableinfo.className}Service extends ${common.baseService}<${tableinfo.className}, ${tableinfo.className}DTO, ${tableinfo.className}Query> {
#else
public interface ${tableinfo.className}Service {
#end

}